cycler==0.11.0
fonttools==4.33.3
h5py==3.1.0
kiwisolver==1.4.2
matplotlib==3.5.2
numpy==1.22.4
packaging==21.3
Pillow==9.1.1
pyparsing==3.0.9
pyqtgraph==0.12.4
PySide6==6.3.0
PySide6-Addons==6.3.0
PySide6-Essentials==6.3.0
python-dateutil==2.8.2
scipy==1.8.1
shiboken6==6.3.0
six==1.16.0
